@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Bungee&display=swap');   /*fonts*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --text-color: white;    /*variável cor texto body*/
  --bg-color: #363033;    /*background*/
  --title-color: white;     /*text logo*/
  --bg-promocolor:#363033;   /*back promo color*/
  --text-produtocolor: white;
  --text-shadow: 0 0 10px #0000;
  --switch-bg-url: url(<ion-icon name="moon"></ion-icon>);
}
.light{
  --text-color: #363033;
  --bg-color: white;
  --title-color: #39A062;
  --bg-promocolor:#53DF8B;
  --text-produtocolor: black;
  --text-shadow: none;
  --switch-bg-url: url(<ion-icon name="sunny"></ion-icon>);

}
body{
  background: var(--bg-color);
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  flex-wrap:wrap;
  
}
.logo{
  font-family: 'Bungee';
  color: var(--title-color);
  font-size: 40px;
  height: 86px;
  
}
.text-logo{
  text-shadow: var(--text-shadow);       /*sombra na logo*/
}
.search-bar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-menu{
  display: flex;
  font-family: 'Aoboshi One', serif;
  font-size: 15px;
  color: var(--text-color);
  gap: 50px;
  align-self: flex-start;
  padding: 24px;
  width: 100%;
  justify-content: center;
  gap: 91px;
    POSITION: RELATIVE;
    LEFT: -20PX;
}
.header-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  gap: 5px;
  height: 100%;
}

.header-menu a ion-icon {
  margin-bottom: 5px;
  color: #39A062;
  font-size: 19px;
}
#dark-mode-toggle{
  cursor: pointer;
}
#dark-mode-toggle ion-icon[name="sunny"] {
  color: #39A062; /* Cor personalizada */
  font-size: 24px; /* Tamanho personalizado */
  position: relative;
    bottom: -2px;
}
.header-item:first-child ion-icon[name="person"]{
  position: relative;
  bottom: -1px;
}
.header-item:nth-child(2) ion-icon[name="heart"]{
  position: relative;
  top: 3px;
}
.header-item:nth-child(3) ion-icon[name="moon"]{
  position: relative;
  bottom: -2px;
}
.header-item{
  text-align: justify;
}
.header-search{
  width: 100%;
}
.header-search form{
  display: flex;               /*add styles in the box header search*/

}
.header-search input{
  width: 100%;
  border-radius: 19px;
  background: #D9D9D9;        /*estiliza a barra parte de dentro da barra de search*/
  height: 34px;
}
#search-input{                /*id atribuido á entrada de texto que add*/
  font-family: 'Aoboshi One', serif;
  font-size: 12px;
  width: 100%;
  border: none;
}
.search-button{
  position: relative;
    right: 45px;
    background: transparent;
    border: none;
}
.search-button ion-icon{
  font-size: 22px;
  background: transparent;
  position: relative;
    right: -11px;
}
.menu-produtos{
  display: flex;
  font-family: 'Aoboshi One', serif;
  background:#544C50;
  justify-content: space-around;
  flex-basis: 100%;
  height: 35px;
  margin: 16px 0 0;
}
.menu-item{
  font-size: 16px;
  display: flex;
  color: white;
  align-items: center;

}

.header-cart {
  font-family: 'Aoboshi One', serif;
  font-size: 20px;
  background-color:#66BB22;
  padding: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  width: 213px;
  height: 57px;
  justify-content: center;
}
.header-cart ion-icon {
  font-size: 24px;
  margin-right: 5px;
  position: relative;
    left: -11px;
}
.container-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.img-main{
  border: solid 3px #53DF8B;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.img-main img{
  width: 100%;
}
.text-alertpromo{
  background: var(--bg-promocolor);
  display: flex;
  justify-content: space-evenly;
  font-family: 'Aoboshi One', serif;
  color: white;
  border: solid 3px #53DF8B;
  border-left: none;
  border-right: none;
  height: 37px;
  margin-top: -6px;
}
h1{
  font-size: 21px;
  color: var(--text-color);
}
.text-alertpromo ion-icon{
  font-size: 31px;
}
.produtos-main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--text-produtocolor);
 
}
.produto-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Aoboshi One', serif;
}
.text-container-produto{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: -46px;
}

.title-produtomain{
  align-items: center;
  margin-top: -15px;
  white-space: nowrap;
  margin-bottom: 15px;
}

.valor-antes {
  color: #FF9900; /* Define a cor para o valor "antes" */
  text-decoration: line-through;    /*passa uma linha no meio da palavra*/
}
.valor-depois{
  color: #66BB22;
}
